.Ourteam {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.heading {
  margin-bottom: 30px;
  font-size: 2.5em;
  font-weight: bold;
  color: #333;
}

.student-heading {
  font-size: 2.8em; /* Slightly larger font size for Student Coordinators */
  margin-bottom: 60px; /* Increased space below Student Coordinators section */
}

.testimonials-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px; /* Increased space below TPO section */
}

.prominent-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  background-color: #f9f9f9;
  font-size: 1.3em;
  color: #333;
  transition: transform 0.3s, box-shadow 0.3s;
}

.prominent-box:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.testimonials-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.testimonial,
.student-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 1.1em;
  box-sizing: border-box;
  height: auto;
  flex: 1 1 30%; /* Adjust width for three boxes in a row */
  transition: transform 0.3s, box-shadow 0.3s;
}

.testimonial:hover,
.student-box:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.testimonial-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.testimonial-details {
  text-align: left;
}

.testimonial-icons {
  display: flex;
  justify-content: center; /* Center the icons horizontally */
  gap: 10px;
  margin-top: 10px;
}

.icon-link {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-image {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.icon-link:hover .icon-image {
  transform: scale(1.2);
}
